<div id="img">
  <table style="width:100%" id="imgTable">
    <tr>
      <td><%= link_to image_tag("profile.jpg", :alt => "rss feed"),image_path("profile.jpg"), :class=>"fancybox", :title => 'This is me!'%></td>
      <td><%= link_to image_tag("profile.jpg", :alt => "rss feed"),image_path("profile.jpg"), :class=>"fancybox"%></td>
    </tr>
    <tr>
      <td><%= link_to image_tag("profile.jpg", :alt => "rss feed"),image_path("profile.jpg"), :class=>"fancybox"%></td>
      <td><%= link_to image_tag("profile.jpg", :alt => "rss feed"),image_path("profile.jpg"), :class=>"fancybox"%></td>
    </tr>
  </table> 
</div>