<div>
  <p>Computer Science Skills:</p>
  <ul class='educationListCourse'>
    <li>Proficient: C++</li>
    <li>Very Solid in: Mathematics</li>
    <li>Good at: Ruby on Rails, SQL, HTML, CSS, javascript</li>
    <li>Familiar with: Java, C, php, Python, unix shell, MATLAB</li>
    <li>Interested in: Algorithm Design, AI, Computer Vision</li>
  </ul>
  <br><br>
  <p>Other Hobbies:</p>
  <ul class='educationListCourse'>
    <li id="customLink">Amature logo graphic designer: <%= link_to "My DeviantArt", "http://callmeqwer.deviantart.com/", :target => "_blank"%></li>
    <li>Gamer (Dota, Diablo, Crysis, Skyrim, DJMax, almost anything..)</li>
    <li>Skateboarding, Swimming, BasketBall, creating things</li>
  </ul>
</div>