<div>
  <button class='buttons' id='buttonFour'><%= fa_icon('angle-double-down')%></button>
  <p>Computer Science Skills:</p>
  <div class='responderFour'>
  <ul class='educationListCourse'>
    <li>Proficient: C++</li>
    <li>Very Solid in: Mathematics</li>
    <li>Good at: Java, DBMS, SQL, Ruby on Rails, Java Servlet, HTML, CSS, javascript</li>
    <li>Familiar with: C, php, Python, Unix Shell, Network Programming, MATLAB, Git</li>
    <li>Interested in: Network, Mobile System, AI, Computer Vision</li>
  </ul>
  </div>
  <br><br>
  <p>Other Hobbies:</p>
  <div class='responderFour'>
  <ul class='educationListCourse'>
    <li class="customLink">Amature logo graphic designer: <%= link_to "My DeviantArt", "http://callmeqwer.deviantart.com/", :target => "_blank"%></li>
    <li>DJ and Mixing, my mixing videos are coming out soon!</li>
    <li>Gamer (Dota, Diablo, Crysis, Skyrim, DJMax, Counter-Strike, Flappy Bird..)</li>
    <li>Skateboarding, Swimming, BasketBall, making music and creating all sorts of things!</li>
  </ul>
  </div>
</div>

<script type="text/javascript">
  
  $.fn.slideFadeToggle = function(){
    return this.animate({ opacity: 'toggle', height: 'toggle' }, 350, 'swing');
  };

  var rotateFour = false;
  $('#buttonFour').on('click', function(){
    $('.responderFour').slideFadeToggle();
    if(!rotateFour)
    {
      $('#buttonFour').addClass('rotate');
      rotateFour = true;
    }
    else
    {
      $('#buttonFour').removeClass('rotate');
      rotateFour = false;
    }
  });
</script>