/*
 *= require font-awesome
 */

/********* custom For the font *********/

// @font-face {
//   font-family:'Helvetica';
//   src:font-url('HelveticaNeue.dfont');
// }

/***************************************/




/**************** For the application part  ****************/

 @import "font-awesome-sprockets";
 @import "font-awesome";

*{padding: 0; margin: 0;}

body
{
  width: 650px;
  background-color: #0a0a0a;
  color: #3deb00;
  font-family: 'Andale Mono';
  font-size: 15px;
  margin: 40px auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#name
{
  margin: 40px auto;
}

#profileInfo
{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction:row;

  margin: 0 auto;
}

#profileInfoImg
{
  border: 2px solid #3deb00;
  margin: 0 0 0 30px;
}

#profileInfoText
{
  width: auto;
  padding: 0 0 0 40px;
}

#profileInfoText p:nth-child(2)
{
  padding: 20px 0 20px 0;
}

#profileIcon
{
  margin: 20px auto;
}

#profileIcon p
{
  padding: 5px 0 0 0;
}

/********************************************************/




/**************** Welcome controller css ****************/

#education
{
  width: 700px;
  margin: 0 auto;
  font-size: 15px;
}

.educationTitle
{
  margin: 0 0 5px 0;
}

.educationList
{
  list-style: none;
}

.educationName
{
  margin: 5px 0 0 0;
}

#educationNameSecond {margin: 25px 0 0 0;}

.educationListCourse
{
  list-style: none;
  padding: 10px 0 0 15px;
}

.educationListCourse li
{
}
/********************************************************/






/*************** helper ***************/
.h_oneTab
{
  margin-left: 25px;
}

.h_introTab
{
  margin-left: 60px;
}

.educationListCourse li
{
  margin-left: 40px;
}