
/*
 *= require font-awesome
 *= require lazybox
 */

/********* custom For the font *********/

@font-face {
  font-family:'Andale Mono';
  src: font-url('AndaleMono.ttf');
}

/***************************************/




/**************** For the application part  ****************/

 @import "font-awesome-sprockets";
 @import "font-awesome";

*{padding: 0; margin: 0;}

html 
{ 
  background: image-url('green_bg.jpg'); 
}

body
{
  max-width: 650px;
  color: #3deb00;
  font-family: 'Andale Mono';
  font-size: 90%;
  margin: 3em auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#name
{
  margin: 40px auto;
}

#profileInfo
{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction:row;

  margin: 0 auto;
}

#profileInfoImg
{
  border: 2px solid #3deb00;
  margin: 0 0 0 30px;
}

#profileInfoText
{
  width: auto;
  padding: 0 0 0 40px;
}

#profileInfoText p:nth-child(2)
{
  padding: 20px 0 20px 0;
}

#profileIcon
{
  margin: 20px auto;
}


#profileIcon a, #footerMenu li a
{
  color : #3deb00;
  text-decoration: none;
}

#profileIcon a:hover, #footerMenu li a:hover
{
  color : #3deb00;
  text-decoration: none;
}

#profileIcon a:visited, #footerMenu li a:visited
{
  color : #3deb00;
  text-decoration: none;
}

#profileIcon p
{
  padding: 5px 0 0 0;
}

/********************************************************/




/**************** Welcome controller css ****************/

#education
{
  margin: 0 auto;
  font-size: 1em;
}

.educationTitle
{
  margin: 0 0 5px 0;
}

.educationList
{
  list-style: none;
}

.educationName
{
  margin: 5px 0 0 0;
}

#educationNameSecond {margin: 25px 0 0 0;}

.educationListCourse
{
  list-style: none;
  padding: 10px 0 0 15px;
}

.educationListCourse li
{
}
/********************************************************/




/************************** img ******************************/
#imgTable tr td
{
  border: 1px solid #3deb00;
  padding: 10px;
}

/********************************************************/


/************************** lazybox ******************************/
#lazybox
{
  padding: 0;
  border: 5px solid #000000;
}

/********************************************************/





/************************** footer ******************************/
#footer
{
  margin: 70px 0 0 0;
}

#footer h4
{
  text-align: center;
}

#footerMenu
{
  margin: 20px 0 0 0;
}

#footerMenu li
{
  display: inline;
  padding: 18px;
}


/********************************************************/




/*************** helper ***************/
.h_oneTab
{
  margin-left: 25px;
}

.h_introTab
{
  margin-left: 60px;
}

.educationListCourse li
{
  margin-left: 40px;
}